In [1]:
import pandas as pd

In [ ]:
#this was just me checking to see what i had access to, feel free to ignore
import os

filepath = "S:/BigPrecip/Precip/FORTS/SRCC_FORTS_DATA/La_Fort_Jessup.data"

if os.access(filepath, os.R_OK):
    print("Read access granted.")
else:
    print("Read access denied.")

In [ ]:
#this is for a more permanent file path
filepath = "S:/BigPrecip/Precip/FORTS/SRCC_FORTS_DATA/La_Fort_Jessup.data" #FILE LOCATION
df = pd.read_csv(filepath)

In [2]:
filepath = "OK_Fort_Sill.data.csv" #FILE LOCATION
df = pd.read_csv(filepath)

In [3]:
columns_to_keep = ['STNO', 'LAT', 'LON', 'YEAR', 'MO', 'DAY', 'PRCP-99'] #LIST OF COLULM HEADERS THAT ARE NEEDED
df = df.loc[:, columns_to_keep] #GETS RID OF UNECESSARY COLUMNS

In [4]:
df.columns=['STATION_ID','LAT','LON','YEAR','MO','DAY','PRECIP']

In [5]:
df.insert(df.columns.get_loc('DAY') + 1, 'TIME', '')
df.insert(df.columns.get_loc('STATION_ID') + 1, 'NAME', '')
df.insert(df.columns.get_loc('LON') + 1, 'ELEV', '')

In [6]:
df["DATE"] = pd.to_datetime(df["YEAR"].astype(str) + "/" + df["MO"].astype(str) + "/" + df["DAY"].astype(str))
df = df.reindex(columns=['STATION_ID', 'NAME', 'DATE', 'TIME', 'LAT', 'LON', 'ELEV', 'PRECIP'])

In [9]:
#saving the file
df.to_csv(r'C:\Pretty Precip Data\OK_Fort_Sill.csv')

In [8]:
df

      STATION_ID NAME       DATE TIME       LAT       LON ELEV  PRECIP
0         343300      1870-04-01       34.67083  98.38694          0.0
1         343300      1870-04-02       34.67083  98.38694          0.0
2         343300      1870-04-03       34.67083  98.38694          0.0
3         343300      1870-04-04       34.67083  98.38694          0.0
4         343300      1870-04-05       34.67083  98.38694          0.0
...          ...  ...        ...  ...       ...       ...  ...     ...
8306      343300      1892-12-27       34.67083  98.38694          NaN
8307      343300      1892-12-28       34.67083  98.38694          NaN
8308      343300      1892-12-29       34.67083  98.38694          NaN
8309      343300      1892-12-30       34.67083  98.38694          NaN
8310      343300      1892-12-31       34.67083  98.38694          NaN

[8311 rows x 8 columns]